@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
header {
  min-height: var(--headerHeight);
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 4;
  border-radius:  0 0 2.8em 2.8em;
  padding: 2em 1.6em 0 1em;
  backdrop-filter: blur(20px);
}

.dark button, nav button {
  cursor: pointer;
  border: none;
  box-shadow: var(--topShadow) 0 -5px 10px 0px, var(--bottomShadow) 0 5px 10px 0px;
  border-radius: 155em;
  height: 3.5em;
  width: 3.5em;
  background-color: transparent;
  color: white;
  margin: 1em 1em 1em 0;
  align-self: center;
}
.light button {
  color: black;
}
header nav, header .dark{
  flex-grow: 9;
  display: flex;
  flex-direction: row;
  background-color: var(--col1);
  min-height: 5em;
  border-radius: 15em;
  box-shadow: var(--topShadow) 0 -5px 10px 0px, var(--bottomShadow) 0 5px 10px 0px;

}
header .light{
  background-color: var(--col4);
}
h1{
  font-size: 2.1vw;
  font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
.dark h1, nav h1{
  font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;  width: 20%;
  flex-grow: 2;
  margin: auto 2%;
  text-shadow: var(--topShadow) 0 -1px 1px, var(--bottomShadow) 0 1px 1px;
}
.light h1 a{
  color: black;
}
.dark h1 a, nav h1 a{
  text-decoration: none;
  color: white;
}
.dark ul, nav ul {
  flex-direction: row;
  display: flex;
  min-height: 0.1em;
  margin: 1em 1em 1em 0;
  flex-grow: 8;
  padding: 0;
  border-radius: 15em;
  box-shadow: var(--bottomShadow) 0 1px 3px 0px, var(--topShadow) 0 -1px 3px 0px;
}
.dark ul li, nav ul li {
  cursor: pointer;
  list-style: none;
  flex-grow: 5;
  align-self: center;
}

.light ul li a{
  color: black;
}
.dark ul li a, nav ul li a {
  font-size: 0.95vw;
  font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0 -1em;
}
.segmentedLight {
  --padding: 0.25rem;
  display: flex;
  padding: var(--padding);
  border-radius: 9999px;
  anchor-name: --segmented-button-hover;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 250ms cubic-bezier(0.4, 0, 0.2, 1);
    inset:
      calc(anchor(start) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(start) + var(--padding));
  }

  &::before {
    background: linear-gradient(-45deg, #ece2e2, #e1e1e1);
    position-anchor: --segmented-button-hover;
  }


  &::after {
    background: linear-gradient(-45deg, rgba(77, 118, 255, 0.9), rgba(179, 190, 255, 0.9));
    position-anchor: --segmented-button-checked;
    box-shadow:
      1px 1px 0 1px rgb(204, 212, 255, 0.9),
      -1px -1px 0 1px rgb(204, 212, 255, 0.9),
      -1px 1px 0 1px rgb(204, 212, 255, 0.9),
      1px -1px 0 1px rgb(204, 212, 255, 0.9);
  }
}

.segmented-button {
  background-color: transparent;
  border: none;
  border-radius: inherit;
  padding: 0.65rem 1.3rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  anchor-name: var(--anchor-name-1, --a), var(--anchor-name-2, --b);

  &:hover {
    --anchor-name-1: --segmented-button-hover;
  }

  &:has(:checked) {
    --anchor-name-2: --segmented-button-checked;
  }

  &:has(:focus-visible) {
    outline: 2px solid #007acc;
  }


}
.segmentedDark {
  --padding: 0.25rem;
  display: flex;
  padding: var(--padding);
  border-radius: 9999px;
  anchor-name: --segmented-button-hover;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 250ms cubic-bezier(0.4, 0, 0.2, 1);
    inset:
      calc(anchor(start) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(end) + var(--padding))
      calc(anchor(start) + var(--padding));
  }

  &::before {
    background: linear-gradient(-45deg, rgba(245,245,205,0.1), rgba(245,205,245,0.1));
    position-anchor: --segmented-button-hover;
  }


  &::after {
    background: linear-gradient(-45deg, rgb(0, 58, 255), rgb(102, 125, 255));

    position-anchor: --segmented-button-checked;
    box-shadow:
      3px 0 6px 0px rgb(0, 58, 255),
      -3px 0 6px 0px rgb(102, 125, 255)
  }
}

.segmented-button {
  background-color: transparent;
  border: none;
  border-radius: inherit;
  padding: 0.65rem 1.3rem;
  font-size: inherit;
  cursor: default;
  z-index: 1;
  anchor-name: var(--anchor-name-1, --a), var(--anchor-name-2, --b);

  &:hover {
    --anchor-name-1: --segmented-button-hover;
  }

  &:has(:checked) {
    --anchor-name-2: --segmented-button-checked;
  }

  &:has(:focus-visible) {
    outline: 2px solid #007acc;
  }

  a input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
.active {
  font-weight: bold;
}
