
<div class="gradient {{mode}}">
  <h1 class="{{mode}}">What I Made</h1>
</div>
<main class="{{mode}}">
  <div class="column">
    <div class="row">
      <div class="project-card" >
        <label for="mnuze">Mnuze</label>
        <img src="assets/9EFA537D-B209-426D-8AF6-4DE11CB18816.jpg" alt="mnuze" id="mnuze" name="mnuze">
        <figcaption>This project is my take on what uber eats could be like if it supported not only restaurant but home cooks or anyone that wants to cook. It allows users to order food from anyone around them, and allows anyone to become a cook or delivery driver. This image is a snapshot of what i made in 4 hours with no IOS coding experience </figcaption>
      </div>
      <div class="project-card">
        <label for="school-assignment">School Assignment</label>
        <img src="assets/Screenshot%202025-11-13%20at%204.27.02%E2%80%AFPM.png" alt="school-assignment" id="school-assignment" name="school-assignment" >
        <figcaption>Using aspects of my Mnuze project I made a web page to mimic the functionality of a complete ordering app like Mnuze</figcaption>
      </div>
    </div>
    <div class="row">
      <div class="project-card">
        <label for="minesweeper-bot">Minesweeper Bot</label>
        <img src="assets/Screenshot 2025-04-13 211000.png" alt="minesweeper-bot" id="minesweeper-bot" name="minesweeper-bot" >
        <figcaption>One of my favourite games to play is minesweeper online. It has tickets that you can collect for just playing so i decided to make a bot to play and farm tickets for me. I did this using a script that captured the rgb values of the center 9 pixels of each game tile, then average them and feed that data stream into a NN made in Tensorflow, then i used pyautogui to move the mouse to the tiles and click</figcaption>
      </div>
      <div class="project-card">
        <label for="label-automation">Label Automation</label>
        <img src="assets/Screenshot 2025-04-13 204932.png" alt="label-automation" id="label-automation" name="label-automation" >
        <figcaption>During my co-op as a SHSM student in IT, I came up with an idea to automate label processing by storing item SKU's in a table with associated weight and box dimensions and passing in the customers address details to automate label creation in the Canada Post EST2.0 program</figcaption>
      </div>
    </div>
    <div class="row">
      <div class="project-card">
        <label for="net-worth-calculator">Net Worth Calculator</label>
        <img src="assets/Screenshot 2025-11-13 at 7.47.03 PM.png" alt="net-worth-calculator" id="net-worth-calculator" name="net-worth-calculator" >
        <figcaption>This is one of the first projects I did after teaching myself python. It uses a yahoo finance api and matplotlib along with the number of shares I have of stocks in my portfolio. In the end i get a nice visual of my money</figcaption>
      </div>
      <div class="project-card">
        <label for="3d-model-replica">3D Model Replica</label>
        <img src="assets/1-adb3bf9f.png" alt="3d-model-replica" id="3d-model-replica" name="3d-model-replica">
        <figcaption>A client had this printer gear on the right that needed replacing but the part was discontinued along with the printer, so I took the mangled part and modeled a replica in Fusion360 and 3D printed it.</figcaption>
      </div>
    </div>
    <div class="row">
      <div class="project-card">
        <label for="mnuze-web-beta">Mnuze Web (Beta)</label>
        <img src="assets/IMG_2450.png" alt="mnuze-web-beta" id="mnuze-web-beta" name="mnuze-web-beta">
        <figcaption>This was an early version of my Mnuze project that I've since thrown away, I did this as I was teaching myself css and html, and I've since restarted it using angular and have improved the project immensely</figcaption>
      </div>
      <div class="project-card">
        <label for="portfolio">Personal Portfolio</label>
        <img src="assets/Screenshot%202025-11-17%20at%201.13.30%E2%80%AFPM.png" alt="personal-portfolio" id="personal-portfolio" name="personal-portfolio">
        <figcaption>This was my first Portfolio. What made it special was learning to implement my social medias on the contacts page and using some design elements from X that I saw like the cool background called color-bends. I also spent a lot of time building the custom header and scroll bar and learned how to use 3JS for the picture cards on the home page</figcaption>
      </div>
    </div>
  </div>
</main>
