h1, h2{
  font-size: 2vw;
  font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(#121212, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1{
  margin: 1em 0 0 0;
  font-size: 15vw;
}
h1.dark, h2.dark{
  background: -webkit-linear-gradient(#eee, #c5c5c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

