main{
  width: 100vw;
  background: linear-gradient(to top, var(--col4), rgba(255,255,255,0) 99%);
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory; /* or 'y proximity' for looser snapping */
  overflow-y: scroll;
  height: 100vh; /* Full viewport height */
}
h1{
  font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 15vw;
  text-align: center;
  background: -webkit-linear-gradient(#121212, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1em 0;
}
h1.dark{
  background: -webkit-linear-gradient(#eee, #c5c5c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main.dark{
  background: linear-gradient(to top, var(--col1), rgba(255,255,255,0) 99%);
}
.linkedIn{
}
.gitHub{
}
.X svg{
  margin-top: -8em;
}
.instagram svg{
  margin-top: -8em;
}
svg{
  color: black;
}
.dark svg{
  color: white;
}

a img.light{
  filter: invert(1);
}

main > div {
  scroll-snap-align: center; /* Snap to the start of each section */
  scroll-snap-stop: always; /* Force stop at each section */
  min-height: 100vh; /* Each section takes full viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
main > .X, main > .instagram {
  scroll-snap-align: start; /* Snap to the start of each section */
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}
