.scroller {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
}

.scroller__bar {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    pointer-events: none;
    width: 64px;
    overflow: visible !important;
    z-index: 5;
}

.bar__thumb,
.bar__track {
    opacity: 1;
    transition: opacity 0.2s;
    stroke-width: 7px;
}

.bar__thumb.dark {
    stroke: rgba(255, 255, 255, 0.8);
    stroke-dasharray: 70 1000;
}

.bar__thumb {
    stroke: rgba(0, 0, 0, 0.8);
    stroke-dasharray: 70 1000;

}

.bar__track.dark {
    stroke: rgba(255, 255, 255, 0.2);
}
.bar__track {
    stroke: rgba(0, 0, 0, 0.2);
}
.scroll-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}