<div class="gradient {{mode}}">
  <h1 class="{{mode}}">Design</h1>
</div>

<main class="{{mode}}">
  <h2>
    "Design should feel like
    <strong id="nature" class="word nature">nature</strong>,
    something you can
    <strong id="feel" class="word feel">
      <span>f</span><span>e</span><span>e</span><span>l</span>
    </strong>,
    <strong id="touch" class="word touch">touch</strong>,
    <strong id="change" class="word change"
            [class.clicked]="changeClicked"
            (click)="onChangeClick()">change</strong>
    and
    <strong id="interact" class="word interact">interact</strong>
    with, all while adding
    <strong id="unique" class="word unique">unique</strong>
    functionality."
  </h2>
  <h2>-Evan. B</h2>
</main>
