@property --col1 {
  syntax: "<color>";
  initial-value: #252525;
  inherits: false;
}
@property --col2 {
  syntax: "<color>";
  initial-value: #404040;
  inherits: false;
}
@property --col3 {
  syntax: "<color>";
  initial-value: #666666;
  inherits: false;
}
@property --col4 {
  syntax: "<color>";
  initial-value: #FFFAF0;
  inherits: false;
}
@property --topShadow {
  syntax: "<color>";
  initial-value: rgba(170, 170, 170, 0.25);
  inherits: false;
}
@property --bottomShadow {
  syntax: "<color>";
  initial-value: rgba(0, 0, 0, 0.5);
  inherits: false;
}
@property --headerHeight {
  syntax: "<height>";
  initial-value: 100px;
  inherits: false;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    url('app/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
}

app-root {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
app-instagram-embed{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 20px auto;

}
