<div class="gradient {{mode}}">
  <h1 class="{{mode}}">Meet Evan</h1>
</div>
<main class="{{mode}}">
    <h2>You Can Find Me...</h2>
</main>
<div class="gradient-reverse {{mode}}" style="margin-bottom: -1em">
    <app-photo-gallery class="app-photo-gallery" [mode]="mode"></app-photo-gallery>
</div>
<div class="gradient {{mode}}"></div>
<section class="{{mode}}">
    <h3>My Accomplishments Include...</h3>
</section>
<div class="gradient-reverse {{mode}}">
</div>
<div class="badge-container">
    <div class="badge {{mode}}">
        <div class="star-icon"></div>
        <p class="badge-title">PRINCIPAL'S</p>
        <p class="badge-subtitle">LIST</p>
        <p class="badge-year">2020</p>
    </div>
    <div class="badge {{mode}}">
        <div class="plus-icon"></div>
        <p class="badge-title">MATH</p>
        <p class="badge-subtitle">AWARD</p>
        <p class="badge-year">2016</p>
    </div>
</div>

